# Supabase Configuration
VITE_SUPABASE_URL=https://uuxkufduxidhfetpguae.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1eGt1ZmR1eGlkaGZldHBndWFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzODc0MzMsImV4cCI6MjEwMDk2MzQzM30.qjpY65hPNJ8DuDmvdw5Lyy-2nzOqkNG35BcpUzOfUyM
